@model IEnumerable<VillageBuildingReservation.Models.Bombs>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h2>الأعتدة</h2>

    <p>
        @Html.ActionLink("اضافة عتاد", "create", "", new { @class = "action_link" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("تعديل", "Edit", new { id = item.Id }) 
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }

    </table>
}
@section Scripts{
    <script>
        $('.listbomblink').addClass("active");
    </script>
    }