@model VillageBuildingReservation.Models.ChangePasswordViewModel
@{
    ViewBag.Title = " تغيير كلمة المرور";
}


@using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2>تغيير كلمة المرور</h2>

    <fieldset>
        <legend>
            تغيير كلمة المرور
        </legend>
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("كلمة المرور الحالية", new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("كلمة المرور الجديدة", new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("تأكيد كلمة المرور", new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="غير كلمة السر" class="btn btn-primary" />
            </div>
        </div>
    </fieldset>

}
<div>
    @Html.ActionLink("الرجوع الى القائمة", "Index", "Reservations", null, new { @class = "action_link" })
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}